@import 'tailwindcss';

@font-face {
	font-family: 'Manrope';
	src:
		url('./assets/fonts/Manrope-Bold.woff2') format('woff2'),
		url('./assets/fonts/Manrope-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src:
		url('./assets/fonts/Manrope-Medium.woff2') format('woff2'),
		url('./assets/fonts/Manrope-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src:
		url('./assets/fonts/Manrope-Regular.woff2') format('woff2'),
		url('./assets/fonts/Manrope-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-*: initial;
	--color-primary: hsl(22, 65%, 57%);
	--color-primary-hover: hsl(21, 94%, 75%);
	--color-dark-900: hsl(0, 0%, 0%);
	--color-dark-800: hsl(0, 0%, 6%);
	--color-dark-700: hsl(0, 0%, 10%);
	--color-light-900: hsl(0, 0%, 100%);
	--color-light-800: hsl(0, 0%, 98%);
	--color-light-700: hsl(0, 0%, 95%);
	--color-input-border: hsl(0, 0%, 81%);
	--color-gray: hsl(0, 0%, 59%);
	--color-gray-800: hsl(0, 0%, 30%);
	--color-red: hsl(0, 65%, 49%);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
	.no-spinner::-webkit-outer-spin-button,
	.no-spinner::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.no-spinner {
		appearance: textfield;
	}

	.heading {
		font-weight: 700;
		text-transform: uppercase;
	}

	.heading-1 {
		font-size: 3.5rem;
		line-height: 3.625rem;
		letter-spacing: 2px;
	}

	.heading-2 {
		font-size: 2.5rem;
		line-height: 2.75rem;
		letter-spacing: 1.5px;
	}

	.heading-3 {
		font-size: 2rem;
		line-height: 2.25rem;
		letter-spacing: 1.15px;
	}

	.heading-4 {
		font-size: 1.75rem;
		line-height: 2.375rem;
		letter-spacing: 2px;
	}

	.heading-5 {
		font-size: 1.5rem;
		line-height: 2.0625rem;
		letter-spacing: 1.7px;
	}

	.heading-6 {
		font-size: 1.125rem;
		line-height: 1.5rem;
		letter-spacing: 1.3px;
	}

	.text-overline {
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.1875rem;
		letter-spacing: 10px;
		text-transform: uppercase;
	}

	.subtitle {
		font-size: 0.8125rem;
		font-weight: 700;
		line-height: 1.5625rem;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	.category {
		font-size: 0.9375rem;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.quantity {
		font-size: 0.9375rem;
		font-weight: 700;
		letter-spacing: 1px;
	}

	.label {
		font-size: 0.75rem;
		font-weight: 700;
		letter-spacing: -0.2px;
	}

	.input {
		font-size: 0.875rem;
		font-weight: 700;
		letter-spacing: -0.2px;
	}
}

@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes slideIn {
	from {
		transform: translateX(calc(100% + 24px));
	}
	to {
		transform: translateX(0);
	}
}
@keyframes swipeOut {
	from {
		transform: translateX(var(--radix-toast-swipe-end-x));
	}
	to {
		transform: translateX(calc(100% + 24px));
	}
}

:root {
	--font-default:
		'Manrope', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-family: var(--font-default);
	font-size: 0.9375rem;
	font-weight: 500;
	line-height: 1.5625rem;

	background-color: var(--color-light-800);
	color: var(--color-dark-900);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	position: relative;
	min-height: 100dvh;
	margin: 0 auto;
}
